*
{
    margin: 0;
    padding: 0;
    font-family: Kumbh Sans;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background: rgb(0, 0, 0);
    color: white;
}

.logo_container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgb(98, 98, 98) 100%);
    border: 2px solid white;
    width: 160px;
    padding: 8px 8px;
    border-radius: 20px;
    font-weight: 200;
    cursor: pointer;
}

.nav-links
{
    display: flex;
    flex: 0.6;
    justify-content: space-around;
    color: white;
    list-style: none;
    font-weight: 400;
}

.nav-links li:hover
{
    transform: translateY(-20%);
    
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.nav-links a
{
    color: white;
    text-decoration: none;
}

.nav-links a:hover
{
    color: #1DB954;
    transition: all 0.3s ease-in-out;   
}

.sign-in
{
    position: relative;
    padding: 5px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    border: none;  
}

.sign-in:after
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border: none;
    background: #1DB954;
    transition: all 0.35s;
    border-radius: 6px;
}

.sign-in p
{
    position: relative;
    z-index: 2;
}

.sign-in:hover:after
{
    width: 100%;
}

.sign-in_container
{
    position: absolute;
    top: 66px;
    right: 20px;
    background: white;
    width: 100px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
}

/*
.sign-in:hover
{
    background: #1DB954;
}

.sign-in:hover:after
{
    width: 100%;
}
*/


.content
{
    margin-top: 60px;
    height: calc(100vh - 121px);
    background-image: url("images/2109.webp");
    background-size: cover;
    background-position: center;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    background: rgba(0, 0, 0, 1);
    border-top: 1px solid rgb(31, 31, 31);
}

i
{
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.bxl-html5:hover
{
    transition: 0.3s ease-in-out;
    color: #ff5100;
}

.bxl-css3:hover
{
    transition: 0.3s ease-in-out;
    color: #2f93fe;
}

.bxl-github:hover
{
    transition: 0.3s ease-in-out;
    color: #47ae49;
}