@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(christmas.jpg) no-repeat center center/cover;
}

.container
{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 50%;
}

.container p
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  font-weight: 900;
  color: goldenrod;
}

.container div
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button
{
  font-weight: 600;
  color: goldenrod;
  min-width: 130px;
  width: 20%;
  height: 20%;
  font-size: 2rem;
  border-radius: 16px;
  border: 3px solid goldenrod;
  cursor: pointer;
}

.button:active
{
  scale: 0.9;
}

#left
{
  background: rgb(198, 12, 12);
}

#left:hover
{
  background: rgb(223, 17, 17);
}

#reset
{
  background: rgb(12, 170, 198);
}

#reset:hover
{
  background: rgb(14, 182, 211);
}

#right
{
  background: rgb(34, 92, 40);
}

#right:hover
{
  background: rgb(41, 107, 48);
}

.uil
{
  font-size: 2rem;
  cursor: pointer;
  color: goldenrod;
  padding: 0.2rem 0.7rem;
  border-radius: 50%;
  border: 3px solid goldenrod;
  background: rgb(198, 12, 12);
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.uil:hover
{
  scale: 0.9;
}

@media(max-width: 790px)
{
  .container
  {
    grid-template-rows: 1fr 4fr;
  }
  .container div
  {
    flex-direction: column;
    justify-content: space-around;
  }

  .button
  {
    margin: 0 2rem;
    width: 20%;
    height: 15%;
    min-width: 130px;
  }
}

@media(max-width: 450px)
{
  .container
  {
    width: 100%;
  }
}


